name: Build docker image and deploy on VPS
on:
  push:    
    branches: [ "main" ]
env:
    APP_NAME: telegram-bot
    DOCKER_REGISTRY: ghcr.io    
    DOCKER_IMAGE: ghcr.io/${{ github.repository_owner }}/telegram-bot:${{ github.sha }}      
jobs:
  build:    
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4    
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}
      
      - name: Build and push image
        run: |          
          docker build -t ${{ env.DOCKER_IMAGE }} .
          docker push ${{ env.DOCKER_IMAGE }}
  
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using key
        uses: appleboy/ssh-action@v1        
        env:
          GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}  
        with:
          host: ${{ secrets.SSH_HOST }}
          username: telegram
          key: ${{ secrets.SSH_KEY }}          
          envs: APP_NAME,DOCKER_IMAGE,DOCKER_REGISTRY,GHCR_TOKEN,TELEGRAM_BOT_TOKEN
          script: |                           
            echo "$GHCR_TOKEN" | docker login -u "${{ github.actor }}" --password-stdin "$DOCKER_REGISTRY"
            docker pull $DOCKER_IMAGE

            docker stop $APP_NAME || true
            docker rm $APP_NAME || true

            docker run -d \
              --name $APP_NAME \
              --restart unless-stopped \
              -e TELEGRAM_BOT_TOKEN=$TELEGRAM_BOT_TOKEN \
              $DOCKER_IMAGE
